/* Ajout des polices */
@font-face {
  font-family: 'Imprint MT Shadow';
  src: url('./assets/polices/Imprint\ MT\ Shadow\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  .outline {
    outline: 1px solid red;
  }


/*
###########################################################################
#####                            NAVBAR                               #####
###########################################################################
*/

.flex-container {
  background-color: #161616;
  align-items: center;
  display: flex;
  width: auto;
  flex-direction: row;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

/* ############### Navbar - TOMV ################## */

#navtext_tomv {
  width: auto;
  text-align: center;
  font-size: 80px;
  margin-left: 15px;
  margin-right: auto;
  font-family: 'Imprint MT Shadow', sans-serif;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_tomv a {
  color: white;
text-decoration: none; /* Désactiver le soulignement */
}

#navtext_tomv > .outline {
  color: white;
}

@media (max-width: 800px) {
  #navtext_tomv {
    font-size: 30px;
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    text-align: center;
  }
}

/* ############### Navbar - MAIL ################## */

#navtext_mail {
  width: 230px;
  text-align: center;
  font-size: 35px;
  margin-left: 0px;
  margin-right: 10px;
  font-family: 'Imprint MT Shadow', sans-serif;
  display: flex;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_mail a {
  color: white;
  margin-left: 10px;
text-decoration: none; /* Désactiver le soulignement */
}

#navtext_mail img {
  width: 80px;
  height: auto;
  margin-left: 10px; /* Ajout d'une marge à gauche pour l'espace entre le texte et l'image */
  text-align: center;
  margin-top: 5px;
}

#navtext_mail > .outline {
  color: white;
}

@media (max-width: 800px) {
  #navtext_mail {
    font-size: 15px;
    width: 100px;
  }
  #navtext_mail img {
    width: 30px;
    height: auto;
    margin-left: 0px; /* Ajout d'une marge à gauche pour l'espace entre le texte et l'image */
    text-align: center;
    margin-top: 5px;
  }
}

/* ############### Navbar - Séparation - PHONE ONLY ################## */

@media (max-width: 800px) {
  .separator {
    height: 1px;
    background-color: white;
    width: 20%; /* La largeur de la séparation est à 100% */
    margin: 10px 0; /* Espacement au-dessus et en dessous de la séparation */
  }
}

/* ############### Navbar - PDF ################## */

#navtext_pdf {
  width: 215px;
  text-align: center;
  font-size: 35px;
  margin-left: 0px;
  margin-right: 0px;
  font-family: 'Imprint MT Shadow', sans-serif;
  display: flex;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_pdf a {
  color: white;
  margin-left: 10px;
  text-decoration: none; /* Désactiver le soulignement */
}

#navtext_pdf img {
  width: 90px;
  height: auto;
  margin-left: 10px; /* Ajout d'une marge à gauche pour l'espace entre le texte et l'image */
  text-align: center;
  margin-top: 0px;
}

#navtext_pdf > .outline {
  color: white;
}

@media (max-width: 800px) {
  #navtext_pdf {
      font-size: 20px;
      width: 110px;
  }
  #navtext_pdf img {
      width: 40px;
      height: auto;
      margin-left: 0px;
      text-align: center;
      margin-top: 0px;
  }
}


/*
###########################################################################
#####                          PRESENTATION                           #####
###########################################################################
*/


/* ############### Présentation - Main ################## */

#presentation {
  text-align: left;
  text-decoration: underline;
  flex: 1;
}

.flex-presentation {
  border-style: solid;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
}

#flex-presentation-logo {
  padding: 20px;
  width: 7%;
}

#flex-presentation-info {
  margin-left: 10%;
  padding-top: 0%;
  width: 10%;
  transform:translatex(5%) translatey(-335%);
  display: flex;
}


/*
###########################################################################
#####                            FOOTER                               #####
###########################################################################
*/


.footer {
  /* background-color: #7474742a; */
  color: black;
  padding: 10px;
  text-align: center;
}