/* Ajout des polices */
@font-face {
  font-family: 'Imprint MT Shadow';
  src: url('./assets/polices/Imprint\ MT\ Shadow\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }


  .outline {
    outline: 1px solid red;
  }

.flex-container {
  display: flex;
  align-items: center;
  align-items: flex-start;
  background-color: #161616;
}

.flex-presentation {
  border-style: solid;
  border-radius: 20px;
  overflow: hidden;
  width: auto;
}

#flex-presentation-logo {
  padding: 20px;
  width: 7%;
}

#flex-presentation-info {
  margin-left: 10%;
  padding-top: 0%;
  width: 10%;
  transform:translatex(5%) translatey(-335%);
  display: flex;
}

/* ############### Navbar - TOMV ################## */

#navtext_tomv {
  width: 280px;
  text-align: center;
  font-size: 80px;
  align-items: flex-start;
  margin-left: 15px;
  font-family: 'Imprint MT Shadow', sans-serif;
  display: flex;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_tomv a {
  color: white;
text-decoration: none; /* Désactiver le soulignement */
}

/* ############### Navbar - MAIL ################## */

#navtext_mail {
  width: 230px;
  text-align: center;
  font-size: 35px;
  align-items: flex-start;
  margin-left: 1750px;
  font-family: 'Imprint MT Shadow', sans-serif;
  display: flex;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_mail a {
  color: white;
  margin-left: 10px;
text-decoration: none; /* Désactiver le soulignement */
}

#navtext_mail img {
  width: 80px;
  height: auto;
  margin-left: 10px; /* Ajout d'une marge à gauche pour l'espace entre le texte et l'image */
}

/* ############### Navbar - PDF ################## */

#navtext_pdf {
  width: 240px;
  text-align: center;
  font-size: 35px;
  align-items: flex-start;
  margin-left: 0px;
  font-family: 'Imprint MT Shadow', sans-serif;
  display: flex;
  align-items: center;
}

/* DESACTIVER LE SURLIGNAGE  */
#navtext_pdf a {
  color: white;
  margin-left: 10px;
  text-decoration: none; /* Désactiver le soulignement */
}

#navtext_pdf img {
  width: 90px;
  height: auto;
  margin-left: 10px; /* Ajout d'une marge à gauche pour l'espace entre le texte et l'image */
}

#presentation {
  text-align: left;
  text-decoration: underline;
  flex: 1;
}

.footer {
  /* background-color: #7474742a; */
  color: black;
  padding: 10px;
  text-align: center;
}